{%extends 'Navbar.html'%}
<link
  href="{{url_for('static', filename = 'styles/css/style.css')}}"
  rel="stylesheet"
/>

{% block title %}Acces Mobile{% endblock %} {%block content%}

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter Réseau Cellulaire</h4>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        msg in messages %}
        <div style="margin-top: 6px" class="alert alert-danger" role="alert">
          {{msg}}
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <form
          class="form-sample"
          method="post"
          action="{{url_for('addCellule')}}"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="site_id" class="col-sm-3 col-form-label"
                  >Site_id</label
                >
                <div class="col-sm-9">
                  <input
                    value="{{id.0}}"
                    id="site_id"
                    name="site_id"
                    type="text"
                    class="form-control"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="Name" class="col-sm-3 col-form-label"
                  >Cellule_Name</label
                >
                <div class="col-sm-9">
                  <input
                    id="Name"
                    name="Name"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="Azimuth" class="col-sm-3 col-form-label"
                  >Azimuth</label
                >
                <div class="col-sm-9">
                  <input
                    id="Azimuth"
                    name="Azimuth"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="Bande" class="col-sm-3 col-form-label">Bande</label>
                <div class="col-sm-9">
                  <input
                    id="Bande"
                    name="Bande"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="Technologie" class="col-sm-3 col-form-label"
                  >Technologie</label
                >
                <div class="col-sm-9">
                  <select
                    onchange="detectTechnology()"
                    id="Technologie"
                    name="Technologie"
                    class="form-control"
                  >
                    <option>Select Technologie</option>
                    <option value="4G">4G</option>
                    <option value="3G">3G</option>
                    <option value="2G">2G</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="RNC" class="col-sm-3 col-form-label">RNC</label>

                {% if Technologie == '2G'%} {{ RNC(readonly=true) }} {% else %}

                <div class="col-sm-9">
                  <input id="RNC" name="RNC" type="text" class="form-control" />
                </div>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="TCH" class="col-sm-3 col-form-label">TCH</label>
                <div class="col-sm-9">
                  <input id="TCH" name="TCH" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="Delegation" class="col-sm-3 col-form-label"
                  >Delegation</label
                >
                <div class="col-sm-9">
                  <select
                    id="Delegation"
                    name="Delegation"
                    class="form-control"
                  >
                    <option>Select Delegation</option>
                    {% for i in listDelegation %}
                    <option value="{{i[2]}}">{{i[2]}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="Region" class="col-sm-3 col-form-label"
                  >Region</label
                >
                <div class="col-sm-9">
                  <select id="Region" name="Region" class="form-control">
                    <option>Select Region</option>
                    {% for i in Region %}
                    <option value="{{i[1]}}">{{i[1]}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="Antene" class="col-sm-3 col-form-label"
                  >Antene</label
                >
                <div class="col-sm-9">
                  <input
                    id="Antene"
                    name="Antene"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="BSC" class="col-sm-3 col-form-label">BSC</label>
                <div class="col-sm-9">
                  <input id="BSC" name="BSC" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="BCH" class="col-sm-3 col-form-label">BCH</label>
                <div class="col-sm-9">
                  <input id="BCH" name="BCH" type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="LAC" class="col-sm-3 col-form-label">LAC</label>
                <div class="col-sm-9">
                  <input id="LAC" name="LAC" type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-success col-12">
            Valider
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  let detectTechnology = () => {
    var technology = document.getElementById("Technologie");
    let TCH = document.getElementById("TCH");
    let BSC = document.getElementById("BSC");
    let BCH = document.getElementById("BCH");
    let RNC = document.getElementById("RNC");
    let LAC = document.getElementById("LAC");
    if (technology.value == "2G") {
      RNC.disabled = true;
      LAC.disabled = true;
      TCH.disabled = false;
      BSC.disabled = false;
      BCH.disabled = false;
    } else {
      TCH.disabled = true;
      BSC.disabled = true;
      BCH.disabled = true;
      RNC.disabled = false;
      LAC.disabled = false;
    }
  };
</script>
{% endblock %}
