{%extends 'Navbar.html'%}

{% block title %}Documentation Accés fixe{% endblock  %}

{%block content%}
<div class="col-lg-12 side-right stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="wrapper d-block d-sm-flex align-items-center justify-content-between">
          <h4 class="card-title mb-0">Ajouter Répartition</h4>
         
        </div>
        <div class="wrapper">
          <hr>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info">
              <form method="post" action="{{url_for('addRepartition')}}">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {% for msg in messages %}
                        <div style="margin-top : 6px" class="alert alert-danger" role="alert"> {{msg}} </div>
                      {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Nom RG" required>
                </div>
                <div class="form-group">
                  <label for="x">Mesure X</label>
                  <input type="text" class="form-control" id="x" name="x"  placeholder="Mesure X" required>
                </div>
                <div class="form-group">
                  <label for="y">Mesure Y</label>
                  <input type="text" class="form-control" id="y" name="y"  placeholder="Mesure Y" required>
                </div>
                <div class="form-group">
                  <label for="Region">Region</label>
                  <select id="Region" name="Region" class="form-control">
                    <option>Select Region</option>
                    {% for i in Region %}
                      <option value="{{i[1]}}"> {{i[1]}} </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="Delegation">Delegation</label>
                  <select id="Delegation" name="Delegation" class="form-control">
                    <option>Select Delegation</option>
                    {% for i in listDelegation %}
                      <option value="{{i[2]}}"> {{i[2]}} </option>
                    {% endfor %}
                  </select>
                </div>
               
                <div class="form-group mt-5">
                  <button type="submit" class="btn btn-success col-12">Ajouter</button>
                  
                </div>
              </form>
            </div><!-- tab content ends -->
            <div class="tab-pane fade" id="sg" role="tabpanel" aria-labelledby="sg-tab">
             
              <form method="post" action="{{url_for('addSR')}}">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {% for msg in messages %}
                        <div style="margin-top : 6px" class="alert alert-danger" role="alert"> {{msg}} </div>
                      {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                  <label for="rg_id">RG_ID</label>
                    <select id="rg_id" name="rg_id" class="form-control">
                      <option>Select RG_ID</option>
                      {% for i in rg_id %}
                        <option value="{{i[0]}}"> {{i[0]}} </option>
                      {% endfor %}
                      
                    </select>
                </div>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Nom SR">
                </div>
                <div class="form-group">
                  <label for="x">Mesure X</label>
                  <input type="text" class="form-control" id="x" name="x"  placeholder="Mesure X">
                </div>
                <div class="form-group">
                  <label for="y">Mesure Y</label>
                  <input type="text" class="form-control" id="y" name="y"  placeholder="Mesure Y">
                </div>
                <div class="form-group">
                  <label for="Capacité">Capacité</label>
                  <input type="text" class="form-control" id="Capacité" name="Capacité"  placeholder="Capacité">
                </div>
                <div class="form-group">
                  <label for="paireO">Paire Occupé</label>
                  <input type="text" class="form-control" id="paireO" name="paireO"  placeholder="Paire Occupé">
                </div>
                <div class="form-group">
                  <label for="paireL">Paire Libre</label>
                  <input type="text" class="form-control" id="paireL" name="paireL"  placeholder="Paire Occupé">
                </div>
                <div class="form-group mt-5">
                  <button type="submit" class="btn btn-success mr-2">Ajouter</button>
                  <button type="reset" class="btn btn-outline-danger">Vider</button>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="msan" role="tabpanel" aria-labelledby="msan-tab">
              <form method="post" action="{{url_for('addMSAN')}}">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {% for msg in messages %}
                        <div style="margin-top : 6px" class="alert alert-danger" role="alert"> {{msg}} </div>
                      {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                  <label for="rg_id">RG_ID</label>
                    <select id="rg_id" name="rg_id" class="form-control">
                      <option>Select RG_ID</option>
                      {% for i in listRG %}
                        <option value="{{i[0]}}"> {{i[0]}} </option>
                      {% endfor %}                   
                    </select>
                </div>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Nom MSAN">
                </div>
                <div class="form-group">
                  <label for="x">Mesure X</label>
                  <input type="text" class="form-control" id="x" name="x"  placeholder="Mesure X">
                </div>
                <div class="form-group">
                  <label for="y">Mesure Y</label>
                  <input type="text" class="form-control" id="y" name="y"  placeholder="Mesure Y">
                </div>
                <div class="form-group">
                  <label for="NB_ports">NB_ports</label>
                  <input type="text" class="form-control" id="NB_ports" name="NB_ports"  placeholder="Nombre de ports">
                </div>
                <div class="form-group">
                  <label for="paireO">Paire Occupé</label>
                  <input type="text" class="form-control" id="paireO" name="paireO"  placeholder="Paire Occupé">
                </div>
                <div class="form-group">
                  <label for="paireL">Paire Libre</label>
                  <input type="text" class="form-control" id="paireL" name="paireL"  placeholder="Paire Occupé">
                </div>
                <div class="form-group mt-5">
                  <button type="submit" class="btn btn-success mr-2">Ajouter</button>
                  <button type="reset" class="btn btn-outline-danger">Vider</button>
                </div>
              </form>
          </div>
            <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
              <form method="post" action="{{url_for('addPC')}}">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {% for msg in messages %}
                        <div style="margin-top : 6px" class="alert alert-danger" role="alert"> {{msg}} </div>
                      {% endfor %}
                    {% endif %}
                {% endwith %}
                
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Nom PC">
                </div>
                <div class="form-group">
                  <label for="x">Mesure X</label>
                  <input type="text" class="form-control" id="x" name="x"  placeholder="Mesure X">
                </div>
                <div class="form-group">
                  <label for="y">Mesure Y</label>
                  <input type="text" class="form-control" id="y" name="y"  placeholder="Mesure Y">
                </div>
      
                <div class="form-group">
                  <label for="paireO">Paire Occupé</label>
                  <input type="text" class="form-control" id="paireO" name="paireO"  placeholder="Paire Occupé">
                </div>
                <div class="form-group">
                  <label for="paireL">Paire Libre</label>
                  <input type="text" class="form-control" id="paireL" name="paireL"  placeholder="Paire Occupé">
                </div>
                <div class="form-group">
                  <label for="Type">Type</label>
                      <select id="Type" name="Type" class="form-control">
                        <option>Select Type</option>
                        <option value="SR"> SR </option>
                        <option value="MSAN"> MSAN </option>
                      </select>
                </div>
                <div class="form-group mt-5">
                  <button type="submit" class="btn btn-success mr-2">Ajouter</button>
                  <button type="reset" class="btn btn-outline-danger">Vider</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}