{% extends 'Navbar.html' %}

{% block title %}Profile{% endblock  %}

{% block content %}
<div class="row user-profile">
    <div class="col-lg-4 side-left">
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body avatar">
              
              <img src="../static/images/faces/user.png" alt="">
              <p class="name">{{session['nom']}} {{session['prenom']}}</p>
              <p class="designation">-  Super Admin  -</p>
              <a class="d-block text-center text-dark" href="#">{{session['email']}}</a>
              
            </div>
          </div>
        </div>
        <!-- <div class="col-12 stretch-card">
          <div class="card">
            <div class="card-body overview">
              <ul class="achivements">
                <li><p>34</p><p>Projects</p></li>
                <li><p>23</p><p>Task</p></li>
                <li><p>29</p><p>Completed</p></li>
              </ul>
              <div class="wrapper about-user">
                <h4 class="card-title mt-4 mb-3">About</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam consectetur ex quod.</p>
              </div>
              <div class="info-links">
                <a class="website" href="http://bootstrapdash.com/">
                  <i class="mdi mdi-earth text-gray"></i>
                  <span>http://bootstrapdash.com/</span>
                </a>
                <a class="social-link" href="#">
                  <i class="mdi mdi-facebook text-gray"></i>
                  <span>https://www.facebook.com/johndoe</span>
                </a>
                <a class="social-link" href="#">
                  <i class="mdi mdi-linkedin text-gray"></i>
                  <span>https://www.linkedin.com/johndoe</span>
                </a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-lg-8 side-right stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="wrapper d-block d-sm-flex align-items-center justify-content-between">
            <h4 class="card-title mb-0">Details</h4>
            <ul class="nav nav-tabs tab-solid tab-solid-primary mb-0" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-expanded="true">Info</a>
              </li>
             
            </ul>
          </div>
          <div class="wrapper">
            <hr>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info">
                <form action="{{ url_for('profile', id=idUser ) }}" method="POST">
                  <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" value="{{session['nom']}}">
                  </div>
                  <div class="form-group">
                    <label for="designation">Prenom</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" value="{{session['prenom']}}">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{session['email']}}">
                  </div>
                 
                    <button type="submit" class="btn btn-success mr-2">Update</button>
                    
                  
                </form>
                
                
              </div><!-- tab content ends -->
           
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}